listen:
  host: "0.0.0.0"
  port: 8080

pinMap:
  - input: 1
    pin: 25
    label: "Input 01"
  - input: 2
    pin: 24
    label: "Input 02"
  - input: 3
    pin: 23
    label: "Input 03"
  - input: 4
    pin: 18
    label: "Input 04"

  - input: 5
    pin: 5
    label: "Input 05"
  - input: 6
    pin: 17
    label: "Input 06"
  - input: 7
    pin: 27
    label: "Input 07"
  - input: 8
    pin: 22
    label: "Input 08"

  - input: 9
    pin: 6
    label: "Input 09"
  - input: 10
    pin: 13
    label: "Input 10"
  - input: 11
    pin: 19
    label: "Input 11"
  - input: 12
    pin: 26
    label: "Input 12"

  - input: 13
    pin: 21
    label: "Input 13"
  - input: 14
    pin: 20
    label: "Input 14"
  - input: 15
    pin: 16
    label: "Input 15"
  - input: 16
    pin: 12
    label: "Input 16"
